### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea