<h1 style="line-height:40px;">
    <span>Change your password</span>
    <awsui-button class="awsui-util-f-r" icon="question-circle" go-click="http://docs.awssolutionsbuilder.com/data-lake/user-guide/working-with-my-profile"></awsui-button>
</h1>
<p>Change the password for your data lake account. To create change your password enter your existing password, the new password and click the Change Password button.</p>
<section class="awsui-util-mt-l" ng-show="showerror">
    <awsui-alert type="error">
      <span dom-region="header">Service error</span>
      <span dom-region="content">An unexpected error has occurred while retrieving users.</span>
    </awsui-alert>
</section>
<section class="awsui-util-mt-l">
    <awsui-alert type="info">
        <span dom-region="header">Password complexity requirements</span>
        <span dom-region="content">Password must be at least 8 characters, and must include at least one upper case letter, one lower case letter, and one numeric digit.</span>
    </awsui-alert>
    <form name="changePasswordForm" novalidate ng-submit="changePassword(changeinfo, changePasswordForm.$valid)">
        <awsui-control-group validation-message="{{ changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid ? 'Your old password is required!' : '' }}" label="Old Password">
            <awsui-textfield type="password" name="oldPassword" ng-model="changeinfo.oldPassword" required data-disabled="false"></awsui-textfield>
        </awsui-control-group>
        <awsui-control-group validation-message="{{ changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid ? 'A new password is required and must meet the complexity requirements!' : '' }}" label="New Password">
            <awsui-textfield type="password" name="newPassword" ng-model="changeinfo.newPassword" ng-pattern='/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/' required data-disabled="false"></awsui-textfield>
        </awsui-control-group>
        <awsui-control-group validation-message="{{ changePasswordForm.newConfirmPassword.$touched && changePasswordForm.newConfirmPassword.$invalid ? 'Must match your new password!' : '' }}" label="Confirm New Password">
            <awsui-textfield type="password" name="newConfirmPassword" ng-model="changeinfo.newConfirmPassword" ng-pattern='/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/' required data-disabled="false" compare-to="changeinfo.newPassword"></awsui-textfield>
        </awsui-control-group>
        <h1></h1>
        <awsui-control-group>
            <div class="text-right">
                <awsui-button text="Cancel" variant="link" href="#/profile"></awsui-button>
                <awsui-button type="submit" variant="primary" text="Change Password"></awsui-button>
            </div>
        </awsui-control-group>
    </form>
</section>
