
<h1>Dashboard</h1>
<section class="awsui-util-mt-l">
    <div class="c-m-4 c-m-push-8 additional-info">
        <div class="title">Packages</div>
        <div class="detail">
            <div>Visible: {{accessiblePackages}}</div>
            <div>Owned: {{ownedPackages}}</div>
        </div>
        <hr />
        <div class="title">Getting Started</div>
        <div class="detail">
            Read our <a target="_blank" href="http://docs.awssolutionsbuilder.com/data-lake/index.html">documentation</a> to learn more about AWS Data Lake.
        </div>
        <hr />
        <div class="title">Feedback</div>
        <div class="detail">
            <a target="_blank" href="https://docs.aws.amazon.com/forms/aws-doc-feedback?hidden_service_name=AWS%20Solutions&hidden_guide_name=Data%20Lake%20Solution&hidden_api_version=&hidden_file_name=data%20lake%20console">Tell us what you think</a> about the AWS Data Lake.
        </div>
    </div>
    <div class="c-m-8 c-m-pull-4" style="padding-left:0px;">
        <p>Search the data lake to discover and access data relevant to your business needs. Begin by entering a search term browse the available datasets.</p>
        <div class="awsui-util-mb-l">
            <awsui-button variant="primary" text="Create Package" href="#package/new"></awsui-button>
        </div>
        <form class="clearfix" name="searchForm" novalidate ng-submit="search(search.terms)">
            <div class="c-m-2 c-m-push-10">
                <awsui-button variant="primary" text="Search" type="submit"></awsui-button>
            </div>
            <div class="c-m-10 c-m-pull-2">
                <awsui-textfield name="search" ng-model="search.terms" class="no-gutter" ng-required data-disabled="false" placeholder="Enter search term..."></awsui-textfield>
            </div>
        </form>
    </div>
</section>

<awsui-modal id="intro-modal" size="large" visible="showIntroModal" header="{{slideTitle}}">
    <span dom-region="content">
        <div ng-show="currentSlide===0">
            <p>The data lake solution helps you easily tag, search, share, and govern datasets across your organization or with other external organizations.</p>
            <img src="/images/data-lake-intro-alt.png" />
        </div>
        <div ng-show="currentSlide===1">
            <p>The data lake solution is built on the secure, durable, highly-scalable Amazon Simple Storage Service (Amazon S3).</p>
            <img src="/images/data-lake-s3-alt.png" />
        </div>
        <div ng-show="currentSlide===2">
            <p>Upload datasets directly, link existing datasets in Amazon S3 and even link data in other AWS accounts.</p>
            <img src="/images/data-lake-linking-alt.png" />
        </div>
        <div ng-show="currentSlide===3">
            <p>Search across the data lake solution, find data sets of interest and create manifest files to explore the value of the data for your needs.</p>
            <img src="/images/data-lake-search.png" />
        </div>
    </span>
    <span dom-region="footer">
        <awsui-button text="{{navText}}" variant="primary" class="awsui-util-f-r" ng-click="nextIntroSlide()"></awsui-button>
    </span>
</awsui-modal>
